@using Chirp.Core
@model Chirp.Web.Pages.Partials.SubmitMessageModel

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
<div class="cheepbox">
    <h3>What's on your mind @(User.Identity.Name)?</h3>
    <form method="post" action="@Url.Page("", new { handler = "Message" })">
        @if (Model != null)
        {
            <input style="float: left" type="text" asp-for="Message" name="Message" value="@Model.Message" class="form-control" maxlength="160">
        }
        else 
        {
            <input style="float: left" type="text" asp-for="Message" name="Message" value="" class="form-control" maxlength="160">
        }
        
        <div class="char-count">
            @if (Model != null && !string.IsNullOrEmpty(Model.Message))
            {
                @Model.Message.Length <p>/ 160 characters</p>
            }
            else
            {
                <p>0 / 160 characters</p>
            }
        </div>
        
        <span asp-validation-for="Message"></span>
        <input type="submit" value="Share">
        @Html.AntiForgeryToken()
    </form>
</div>

}