@model Chirp.Web.Pages.FollowButtonModel
@foreach (var cheep in Model.Cheeps)
{
    <li>
        <p>
            <strong>
                <a href="/@cheep.Author">@cheep.Author</a>
                @if (cheep.Email != Model.UserEmail && User.Identity.IsAuthenticated)
                {
                    @if (!Model.IsFollowing(cheep.Email)) 
                    {
                        <form method="post" action="@Url.Page("", new { handler = "Follow" })">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="author" value="@cheep.Author" />
                            <input type="hidden" name="author_email" value="@cheep.Email"/>
                            <input type="submit" value="Follow" formaction="?handler=Follow">
                        </form>
                    } 
                    else
                    {
                        <form method="post" asp-page-handler="Unfollow">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="author" value="@cheep.Author" />
                            <input type="hidden" name="author_email" value="@cheep.Email"/>
                            <input type="submit" value="Unfollow" formaction="?handler=Unfollow">
                        </form>
                    }
                }
            </strong>
            @cheep.Message
            <small>&mdash; @DateTimeOffset.FromUnixTimeSeconds(cheep.TimeStamp).LocalDateTime.ToString() </small>
        </p>
    </li>
}