@page "/{author}/aboutme"
@model Chirp.Web.Pages.AboutModel
@{
    var routeName = HttpContext.GetRouteValue("author");
    var blockedAuthors = Model.GetBlockedAuthors();
}
@if (Model.UserIsAuthor)
{
    @if (Model.UserBlockedSomeOne())
    {
        <form method="post" asp-page-handler="Unblock">
            @Html.AntiForgeryToken()
            <select name="unblock_username" class="dropdown">
                @foreach (var blocked in Model.GetBlockedAuthors())
                {
                    <option value="@blocked.Name">@blocked.Name</option>
                }
            </select>
            <button type="submit" class="follow-button">Unblock</button>
        </form>
    }

    <div>
        <h2>Your information</h2>
        <p><strong>Your name: </strong><span>@User.Identity?.Name</span></p>
        <p><strong>Your email: </strong><span>@Model.GetEmail()</span></p>

        <h3>People your follow:</h3>
        @if (Model.Following.Any())
        {
            <ul>
                @foreach (var author in Model.Following)
                {
                    <li><a href="/@(author.Name)">@author.Name</a></li>
                }
            </ul>
        }
        else
        {
            <h4>You dont follow anyone</h4>
        }
        <h3>Cheeps that you have chirped:</h3>
        @if (Model.Cheeps.Any())
        {
            <ul>
                @foreach (var cheep in Model.Cheeps)
                {
                    <li><i>@cheep.Message</i></li>
                }
            </ul>
        }
        else
        {
            <h4>You have not chirped any cheeps</h4>
        }

        <h3>Cheeps you liked</h3>
        @if (Model.Likes.Any())
        {
            <ul>
                @foreach (var cheep in Model.Likes)
                {
                    <li><i>@cheep.Author: @cheep.Message</i></li>
                }
            </ul>
        }
        else
        {
            <h4>You have not liked any cheeps 🎃</h4>
        }
        <form method="post" asp-page-handler="Download">
            @Html.AntiForgeryToken()
            <input type="submit" value="Download" formaction="?handler=Download">
        </form>
        <form method="post" asp-page-handler="ForgetMe">
            @Html.AntiForgeryToken()
            <input type="submit" value="Forget me" formaction="?handler=ForgetMe">
        </form>
    </div>
}
else
{
    <div>
        <h3>Not your information >:( </h3>
    </div>
}

