@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>
    <h3>Followers: @Model.Followers() Following: @Model.GetFollowingCount() Cheeps: @Model.GetTotalCheepsCount() Likes: @Model.GetTotalLikesCount()</h3>
    @if (User.Identity != null && Model.Author != User.Identity.Name)
    {
        <form method="post" action="@Url.Page("", new { handler = "Block" })">
            @Html.AntiForgeryToken()
            <input type="hidden" name="author" value="@Model.Author"/>
            <input type="hidden" name="author_email" value="@Model.GetEmail()"/>
            <input type="submit" class="block-button" value="Block"
                   formaction="?handler=Block">
        </form>
        @if (!Model.IsFollowing())
        {
            <form method="post" action="@Url.Page("", new { handler = "Follow" })">
                @Html.AntiForgeryToken()
                <input type="hidden" name="author" value="@Model.Author"/>
                <input type="hidden" name="author_email" value="@Model.GetEmail()"/>
                <input type="submit" class="follow-button" value="Follow"
                       formaction="?handler=Follow">
            </form>
        }
        else
        {
            <form method="post" asp-page-handler="Unfollow">
                @Html.AntiForgeryToken()
                <input type="hidden" name="author" value="@Model.Author"/>
                <input type="hidden" name="author_email" value="@Model.GetEmail()"/>
                <input type="submit" class="follow-button" value="Unfollow"
                       formaction="?handler=Unfollow">
            </form>
        }
    }
    @{ await Html.RenderPartialAsync("_CheepCreationPartial", Model.SubmitMessage); }
    @if (Model.InvalidCheep)
    {
        <div>
            <h3>Invalid Cheep. Must be shorter than 160 characters!</h3>
        </div>
    }
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @{
                await Html.RenderPartialAsync("_FollowButtonPartial", Model.FollowButton);
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <div class="pagination">
        @if (Model.CurrentPage > 0)
        {
            <a href="@Url.Page("UserTimeline", new { author = Model.Author })?page=@(Model.CurrentPage - 1)"
               class="button">Previous Page</a>
        }
        @if (Model.GetMaxPage())
        {
            <a href="@Url.Page("UserTimeline", new { author = Model.Author })?page=@(Model.CurrentPage + 1)"
               class="button">Next Page</a>
        }
    </div>

</div>
